<!DOCTYPE html>

<html>

<head>
    <link rel = 'stylesheet' href = '/css/styles.css'>
</head>    

<body>
    {{>header}}
    <img src = '/img/robot.png'>
    <h2>Created by {{name}}</h2>
</body>



</html>